@model DreamWorkerStudioJobs.Models.Job

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1>@(Model.Name)</h1>
</div>
<div>
	<h2>这些项目希望</h2>
	@{int length = Model.Introduction.Count;}
	@for(int i = 0;i < length;i += 3)
	{
		int num = 3;
		if(i + 3 >= length)
		{
			num = (length - i);
		}
		var _temp = new DreamWorkerStudioJobs.Models.Project[num];
		Model.Introduction.Keys.ToList().CopyTo(i,_temp,0,num);
		<div class="row">

			@foreach(var project in _temp)
			{
				<div class="col-md-4">
					<h4>@(project.Name)</h4>
					<p>@(Model.Introduction[project])</p>
					<p>@(Model.Requirement[project])</p>
					<p>
						<a class="btn btn-default" href="/ApplyForJob/Apply/@(Model.ID)In@(project.ID)">申请职位 &raquo;</a>
					</p>
				</div>
			}
		</div>

	}


</div>


