@model List<DreamWorkerStudioJobs.Models.Project>
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Dream Worker Studio 提供的职位</h1>
	<p class="lead">Dream Worker Studio 提供了很多的职位来帮助同学们在实践中获得工作经验</p>
</div>
