<!DOCTYPE html>

@{ 
	ViewBag.Title = "错误";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <hgroup>
        <h1>错误</h1>
        <h2>服务器在处理你的请求时发生了错误</h2>
		<p>我们会记录这个错误并尽快修复</p>
    </hgroup>
</body>
</html>
